<a href="https://colab.research.google.com/github/williambergnx/Aulas-Program-o-FPB/blob/main/aula05/05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Criando Listas
lista_vazia = []

#Lista com elementos
lista_Com_coisas = [2, 4, 3, 'Zé', 'Mané']

In [3]:
#Acessando Elementos da lista
lista = [1, 2, 3, "quatro", "cinco"]

print(lista[0])  # 1
print(lista[3])  # "quatro"
print(lista[-1]) # "cinco"

1
quatro
cinco

Operações com Lista
@ Adicionar elementos

Para adicionar elementos use um dos métodos append() ou extend()
append() - para adicionar um elemento ao final da lista extend() - para adicionar vários elementos ao final da lista

In [4]:
nomes = ['ze', 'tião', 'joaquim']
nomes.append('julia')

#vários valores
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)

nomes

['ze', 'tião', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

In [6]:
nomes = ['ze', 'tião', 'joaquim']
nomes.append('julia')
nomes

['ze', 'tião', 'joaquim', 'julia']

In [7]:
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)

nomes

['ze', 'tião', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

In [8]:
a = [2, 3, 4]
b = [6,8,9]
print(a)

[2, 3, 4]

@ Remoção de elementos

Para remover remove() ou pop()  remove() - Remove o primeiro elemento
pop() - Remove o último elemento

In [9]:
#Crie uma lista de números e 
numeros = [ 2, 4, 1, 6, 9, 12]
#remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remova o último elemento da lista
numeros.pop()

numeros

[4, 1, 6, 9]

Ordenação de Elementos

lista . sort() - ordena em ordem crescente
lista . sort(reverse=True) - ordena em ordem decrescente

In [ ]:
#1 - Crie uma lista de notas, e exiba-a da menor para a maior
notas = [2,10, 9, 4, 7, 3, 8]
nomes = ['Ademar', 'Maristênio', 'Asdrúbal', 'Leo']
notas.sort()
nomes.sort(reverse=True)
#2 - Crie uma lista de nomes de frutas e ordene-a em ordem decrescente

nomes

Função map() serve para aplicar uma função a cada elemento de uma lista, dispensando o uso de um loop (for ou while)

map(funcao, iterável)
Função filter() serve para filtrar elementos de uma sequência

In [ ]:
#Exemplo função map - cria uma nova lista com o dobro 
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

In [ ]:
# pegar cada um dos números e dividir por 3
numDivi = list(map(lambda x : x/3, numeros ))

numDivi

In [ ]:
#Pega cada número e soma 2.
soma2  = list(map(lambda x : x+2, numeros))
soma2

In [ ]:
#Sem usar função map associada à uma função lambda
new_list = []
for n in numeros:
  new_list.append(n*2)

new_list

In [ ]:
len('abacate')>5

In [ ]:
#Exemplo função filter - a partir de uma lista de nomes, criar uma nova lista apenas com palavras com mais de 5 caracteres

nomes = ['josé', 'joão', 'Sebastião', 'Angélica', 'Leonardo', 'Luana', 'Bárbara']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

In [ ]:
# crie uma lista de notas, imprime as maiores que 6
notas = [3, 4, 9, 8, 6, 7]
newNotas = list(filter(lambda x : x >= 6, notas ))

newNotas

In [ ]:
#1
numeros = [7, 6, 8, 12, 7]

new_list = list(map(lambda x : x**2, numeros))
new_list

In [ ]:
#2 
nomes = ['fada', 'ferro', 'miragem', 'atalho', 'nó']

new_list = list(map(lambda x : len(x),  nomes))
new_list

In [ ]:
#3
numeros = [7, 3, 1, 4, 8, 23, 12]

new_list = list(filter(lambda x: x%2==0, numeros ))

new_list

In [ ]:
#4
nomes = ['fada', 'arado', 'miragem', 'atalho', 'alho']

new_list = list(filter(lambda x : x[0] == 'a', nomes))
new_list

In [ ]:
#5 
notas = [5, 6.5, 7.5, 9, 8, 2, 6]

new_notas = list(filter(lambda x : x >= 7, notas))

new_notas

In [ ]:
#6
palavras = ['zangão', 'batata', 'ameixa', 'estrago', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].upper() in 'AEIOU', palavras))

new_List

In [ ]:
#7
numeros = [2, 3, 15, 30, 23, 60, 2, 45]

new_list = list(filter(lambda x : x%3 == 0 and x%5== 0, numeros))
new_list

In [ ]:
#8
nomes = ['zangão', 'Zico', 'ameixa', 'Flamengo', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].isupper(), nomes))

new_List

In [ ]:
#9

iniciais = list(map(lambda x : x[0], nomes))

iniciais

In [10]:
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

lista = [2, 3, 4, 1, 23, 6, 3]

pares_quadrados = list(map(lambda x : x**2, filter(lambda y : y%2==0, lista)))

pares_quadrados

[4, 16, 36]